<div class="row" > 
    <div class="col-xs-12">
        <img [src]="selrecipe.imagePath" alt="" class="img-responsive"
        style="max-height: 300px;">
    </div>
</div>
<div class="row" >
    <div class="col-xs-12">
        <h1>{{selrecipe.name}}</h1>
        
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" appDropdowndirective >
            <button type="button" class="btn btn-primary dropdown-toggle">
                Manage Recipe <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li class="pointerCursor"><a>To Shopping List</a></li>
                <li><a [routerLink]="['new']" >Edit Recipe</a></li>
                <li><a>Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">Description: {{selrecipe.description}}</div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingredient of selrecipe.ingredients">
                {{ingredient.name}} - {{ingredient.amount}}
            </li>
        </ul>
        </div>
</div> 